// == IMPORTS =================================================================

@import "partials/normalize";
@import "partials/typography";
@import "partials/buttons";
@import "partials/colors";

// == RULES ===================================================================

.title {
  background-image: url("../../assets/images/title-pattern.gif");
  background-size: cover;
  color: #e6bd00;
  font-family: $font-main;
  font-size: $head-size;
  font-weight: $head-weight;
  letter-spacing: $head-spacing;
  text-align: center;
  padding: 15px 0;
}


.subtitle {
  color: $subhead-color;
  font-family: $font-main;
  font-size: $subhead-size;
  font-weight: $subhead-weight;
  letter-spacing: $subhead-spacing;
  text-align: center;
}

.search-container {
  border-right: 1px solid $line-color;
}

label {
  color: $primary-color;
  font-family: $font-main;
  font-size: $primary-size;
  font-weight: $light-weight;
  letter-spacing: $primary-spacing;
}

#user-input {
  color: $primary-color;
  font-family: $font-main;
  font-size: $primary-size;
  font-weight: $light-weight;
}

#submit-btn {
  border: $btn-style;
  font-family: $font-main;
  font-size: $btn-text-size;
  font-weight: $primary-weight;
  margin-bottom: 0px;

  &:hover {
    background-image: url("../../assets/images/button.gif");;
    border: $btn-style-hover;
    color: $btn-text-color-hover;
  }
}

button {
  border: $btn-style;
  font-family: $font-main;
  font-size: $btn-text-size;
  font-weight: $primary-weight;

  &:hover {
    background-color: $btn-color-hover;
    border: $btn-style-hover;
    color: $btn-text-color-hover;
  }
}

.gif-cat {
  color: $primary-color;
  font-family: $font-main;
  font-size: $subhead-size;
  font-weight: $heavy-weight;
  letter-spacing: $head-spacing;
  text-align: center;
}

.instructions {
  color: $primary-color;
  font-family: $font-main;
  font-size: $primary-size;
  font-weight: $light-weight;
  letter-spacing: $primary-spacing;
  text-align: center;
}

#gif-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gif-div {
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: $btn-style;
  border-radius: 5px;
  margin: 0 10px 20px 10px;
  padding: 5px;
  width: 36%;

}

.gif-item {
  border-radius: 8px;
  flex-shrink: 4;
  margin-top: 10px;
  width: 100%;
}

.rating {
  font-family: $font-main;
  font-size: $primary-size;
  text-align: center;
  margin-top: 10px;
}

.copy-btn {
  border: $btn-style;
  font-family: $font-main;
  font-size: $btn-text-size;
  font-weight: $primary-weight;

  &:hover {
    background-color: $btn-color-hover;
    border: $btn-style-hover;
    color: $btn-text-color-hover;
  }
}

.copy-btn-activated {
  background-color: $copied-color;
  border: none;
  font-family: $font-main;
  font-size: $btn-text-size;
  font-weight: $primary-weight;
}
